pavucontrol.ini
noglxpicom.conf
htop/
coc/
cmus/
elinks/
pulse/
transmission-daemon/
Code/
Code - OSS/
GIMP
libreoffice
browsh/
geeqie/
dconf/
flameshot/
QtProject.conf
nnn/plugins
xkb/
calibre/
systemd/
bashtop/
gtk*/
zoom*
**/*.log
